<launch>
  <arg name="name" default="predator_node"/>
 
  <node name="$(arg name)" type="predator_node" pkg="r4a_ros_tld" 
      respawn="False" output="screen" />
  
  <rosparam file="$(find r4a_ros_tld)/config/predator_topics.yaml" 
        command="load" ns="predator"/>
        
  <rosparam file="$(find r4a_ros_tld)/config/predator_params.yaml" 
        command="load" ns="predator"/>
        
</launch>
